<!DOCTYPE html>
<html>
   <head>
       <meta charset="UTF-8">
       <title>ChatterBox</title>
       <script src="/socket.io/socket.io.js"></script>
       <link rel="stylesheet" href="../resources/bootstrap.min.css">
       <link rel="stylesheet" href="../resources/bsoverride.css">
   </head>
   <body>
      <div class="row jumbotron">
        <div class="col-2">
        </div>
        <h1 class="col-5">ChatterBox</h1>
        <div id="parent" class="col-3">
        <p id="error"></p>
         <h4>Logged in as <span id="username"> <%= username %> </span></h4>
         <form method="POST" action="/logout">
             <button id="logoutbtn" onclick="logout()" class="col-5 btn btn-primary" name="submit">Log Out</button>
        </form>
        </div>
     </div>
       <div class="row">
         <div class="col-2">
         </div>
         <div class="col-5">
          <div class="jumbotron">
             <ul class="list-unstyled" id="chat_messages">
             </ul>
            <div class="mt-4 row">
              <div class="col-12">
                <input class="form-control" name="send" id="send" type="text" placeholder="Type your message here" value="">
                <div>
                    <p id="emptyMsgErr"></p>
                </div>
              </div>
            </div>
            <div class="row">
             <div class="mt-4 col-4">
              <button id="sendbtn" onclick="sendMessage()" class="btn btn-primary btn-block" name="submit">Post</button>
            </div>
          </div>
          </div>
         </div>
         <div class="col-2">
           <div class="jumbotron">
             <div>
               <h5>Users Online</h5>
                 <ul class="list-unstyled" id="users">
                 </ul>
             </div>
           </div>
         </div>
      </div>
       <div id="alert"></div>
   </body>
   <script type="text/javascript" src="../scripts/websockets.js"></script>
   <script type="text/javascript" src="../scripts/event_config.js"></script>
</html>
