<!DOCTYPE html>
<html>
   <head>
       <meta charset="UTF-8">
       <title>Hello world</title>
       <script src="/socket.io/socket.io.js"></script>
   </head>
   <body>
       <h1>you are logged in as: <span id="username"> <%= username %> </span></h1>
       <ul id="chat_messages">
       </ul>
       <input name="send" id="send" type="text" value="">
       <button id="sendbtn" onclick="sendMessage()" name="submit">click me</button>
       <div id="alert"></div>
       <div>
           currently logged in users:
           <ul id="users">
           </ul>
       </div>
   </body>
   <script type="text/javascript" src="../scripts/websockets.js"></script>
</html>
