<!DOCTYPE html>
<html>
   <head>
       <meta charset="UTF-8">
       <title>ChatterBox</title>
       <script src="/socket.io/socket.io.js"></script>
       <link rel="stylesheet" href="../resources/bootstrap.min.css">
       <link rel="stylesheet" href="../resources/bsoverride.css">
   </head>
   <body>
      <div class="row jumbotron">
        <div class="col-2">
        </div>
        <h1 class="col-5">ChatterBox</h1>
        <div class="col-3">
        </div>
     </div>
       <div class="row">
         <div class="col-2">
         </div>
         <div class="col-5">
          <div class="jumbotron">
               <h3>404! Sorry, could not find that page!!</h3>
            <div class="mt-4 row">
              <div class="col-12">
              </div>
            </div>
            <div class="row">
             <div class="mt-4 col-4">
            </div>
          </div>
          </div>
         </div>
         <div class="col-2">
         </div>
      </div>
       <div id="alert"></div>
   </body>
   <script type="text/javascript" src="../scripts/websockets.js"></script>
</html>
